In [2]:
#Basic list functions
li=[1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [7]:
li=[1,9,16,56,25,5,9]
li.append(29) #add the new items at end
#li.insert(2,56) #add the new item at the specific index
li
#li.append(9)
li.count(9) #return the value how much objects reported

li.index(56) #return the value at that index

3

In [9]:
#Method of list object
li=[1,9,16,56,25,5,9]
#li.sort() #sorts that list in ascending order 
#li.pop() #last inbdex value
li.pop(1) #remove the items from
li

[1, 16, 56, 25, 5, 9]

In [13]:
li1=[1,6,19,25]
li.extend(li1)
li
#li.reverse()
#li.sort()

[1, 16, 56, 25, 5, 9, 1, 6, 19, 25, 1, 6, 19, 25, 1, 6, 19, 25]

In [12]:
li1=[1,6,19,25]
#li.extend(li1)
li1.reverse()
li1
#li.sort()

[25, 19, 6, 1]

In [15]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3))

45
22

In [20]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[19,1,25,6,9,45,22]
print(smallnumber(li))
print(genericsmall(li,3))

1
9

### Tuples
-parenthesis() ---> tuple and square brackets[] ---> list
## Diff b/w list and tuples
    -list are mutable-can be changed/modified
    -used to access and modify,add,delete data
    -tuples are immutable-cannot be changed
    -used to access data only

In [22]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
    1. It works on the concept of Set Unique Data
    2. Keys,values is the unique identifier for the value
    3. Each key is separated from its values with colon(:)
    4. Each key and value is separated with coma(,)
    5. Dictionaries enhanced with curly brackets({})

In [25]:
d1={"Name":"Gitam","Email-id":"gitam@gmail.com","Address":"Hyderabad"}
d1

{'Name': 'Gitam', 'Email-id': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [27]:
d1["Name"]

'Gitam'

In [29]:
d1["Email-id"]

'gitam@gmail.com'

In [55]:
d1={"Name":"Gitam","Email-id":"gitam@gmail.com","Address":"Hyderabad"}
d1["Email-id"] = "gitamPython@gmail.com" # update the data
d1

{'Name': 'Gitam', 'Email-id': 'gitamPython@gmail.com', 'Address': 'Hyderabad'}

In [33]:
d1["Email-id"]

'gitamPhyton@gmail.com'

In [56]:
d1["course"] = "Python" # adding an entry
d1

{'Name': 'Gitam',
 'Email-id': 'gitamPython@gmail.com',
 'Address': 'Hyderabad',
 'course': 'Python'}

In [50]:
del d1["Email-id"]
d1

KeyError: 'Email-id'

In [43]:
d1.keys()

dict_keys(['Name', 'Address', 'course'])

In [45]:
d1.values()

dict_values(['Gitam', 'Hyderabad', 'Phyton'])

In [51]:
d1.items()

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad'), ('course', 'Phyton')])

### Strings
    -Strings
    -String Slicings
    -Fundamental programming with String in Python

In [57]:
s1="Python"
print(s1)
print(type(s1))

Python
<class 'str'>

In [59]:
s1="Python"
print(s1[0]) #Access the first characteristic
print(s1[1]) #Access the second characteristic
print(s1[5]) #last character
print(s1[len(s1)-1]) #Access the last character

P
y
n
n

In [61]:
print(s1[-1]) #Another way to access the last character
print(s1[-2]) #Another way to access the second last character
print(s1[0:2]) #Access the first character
print(s1[:2]) #Access the first character
print(s1[-3:])
print(s1[2:])

n
o
Py
Py
hon
thon

In [67]:
print(s1[1:-1]) #printing all characters expect first and last
print(s1[len(s1)//2]) #middle of the string
print(s1[-1::-1]) #reverse of the string
print(s1[-1:-3:-1]) #Access the last two characters in reverse order
#Access the alternate characters
print(s1[::2]) #two characters
print(s1[::3]) #three characters
print(s1[::-2]) #from reverse order

ytho
h
nohtyP
no
Pto
Ph
nhy

In [70]:
#Reversing of the string
def reversestring(str):
    return str[-1::-1]
reversestring("Programming")

'gnimmargorP'

In [73]:
#Check whether the given string is palindrome or not
def ispalindrome(str):
    if str == str[::-1]:
        return True
    else:
        return False
    return
print(ispalindrome("Python"))
print(ispalindrome("ganag"))

False
True

### String Built-in Methods
    1.upper() -- will convert the input string into upper case
    2.lower() -- will convert the input string into lower case

In [75]:
s1="Python"
print(s1.upper())
print(s1.lower())

PYTHON
python

### String Boolean Built-in Methods
    3.islower() -- True if the string have all characters lower case
    4.isupper() -- True if the string have all characters upper case
    5.istitle() -- True if the string is in title case
    6.isnumeric() -- True if the string is numeric
    7.isalpha() -- True if the string only alphabets
    8.isspace() -- true if the string is empty

In [78]:
s1="python"
print(s1.islower())
print(s1.isupper())

True
False

In [82]:
s2="Python"
print(s2.istitle())

True

In [84]:
s2="Py123"
print(s2.isnumeric())
print(s2.isalpha())

False
False

In [87]:
s3="123456"
print(s3.isnumeric())

True

## String Methods
    -join() -- method will concatinates the two strings
    -split() -- split() returns to a list of strings separated by whitespace(no parameter)
    -replace() -- replace the specific word/character with new word/character

In [90]:
s1="Python"
print(" ".join(s1))

P y t h o n

In [92]:
s2="Python Programming easy to learn"
print(",".join(s2))

P,y,t,h,o,n, ,P,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [94]:
li=["Python","Programming","Learn"]
print(",".join(li))

Python,Programming,Learn

In [96]:
s2="Python Programming easy to learn"
print(s2.split())

['Python', 'Programming', 'easy', 'to', 'learn']

In [98]:
s2="Python Programming Easy to learn"
print(s2.split('a'))

['Python Progr', 'mming E', 'sy to le', 'rn']

In [100]:
s2="Python programming easy to learn"
print(len(s2))
li=s2.split() #Split the string -- list object
print(li)
print(len(li))

32
['Python', 'programming', 'easy', 'to', 'learn']
5

In [103]:
s2="Python programming easy to learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [104]:
s2="Python programming easy to learn"
print(s2.replace("gra","Application"))

Python proApplicationmming easy to learn